{% extends "base.html" %}

{% block title %}
Документ
{% endblock %}

{% block content %}

<div class="upload-header">

    <h1>{{ document.source_filename }}</h1>

    <p>
        Информация о документе
    </p>

</div>

<table class="document-table">

    <tr>
        <td>ID</td>
        <td>{{ document.id }}</td>
    </tr>

    <tr>
        <td>Количество страниц</td>
        <td>{{ document.pages }}</td>
    </tr>

    <tr>
        <td>Страницы для анализа</td>
        <td>{{ document.requested_pages }}</td>
    </tr>

    <tr>
        <td>Статус</td>
        <td>{{ document.status.value }}</td>
    </tr>

    <tr>
        <td>Дата загрузки</td>
        <td>{{ document.uploaded_at }}</td>
    </tr>

</table>

<a
    href="/documents/form"
    class="upload-button"
    style="display:block;text-align:center;text-decoration:none;margin-top:30px;"
>
    Загрузить ещё документ
</a>

{% endblock %}